{% extends "back/layouts/base.html" %}
{% block title %}Hasil Statistik{% endblock %} 

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title">Statistik Pemilihan</h4>
                <p class="card-category">E-Voting Organisasi Inter Universitas Muhammadiyah Kalimantan Timur</p>
            </div>
            <div class="card-body">
                <center><h3>{{ pemilihan }}</h3></center>
                <div class="row">
                    <div class="col-md-6">
                        <p><strong>Jumlah Pemilih :</strong> <strong>{{ jumlah_pemilih }}</strong></p>
                        <p><strong>Pemilih Terpilih :</strong> <strong>{{ pemilih_terpilih }}</strong></p>
                    </div>
                    <div class="col-md-6">
                        <p><strong>Jumlah Kandidat :</strong> <strong>{{ jumlah_kandidat }}</strong></p>
                        <p><strong>Total Suara :</strong> <strong>{{ total_suara }}</strong></p>
                    </div>
                </div>
                <style>
                    #chartContainer {
                        width: 80%;
                        max-width: 800px;
                    }
                </style>
                <div id="chartContainer">
                    <canvas id="myChart"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block javascripts %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    const ctx = document.getElementById('myChart').getContext('2d');

    // Get labels and data from Django context
    const labels = JSON.parse('{{ labels|escapejs }}');
    const data = JSON.parse('{{ data|escapejs }}');

    console.log('Labels:', labels);
    console.log('Data:', data);

    const chartData = {
        labels: labels,
        datasets: [{
            label: 'Votes',
            data: data,
            backgroundColor: '#4caf50',
            borderColor: '#388e3c',
            borderWidth: 1
        }]
    };

    const options = {
        maintainAspectRatio: false,
        indexAxis: 'y',
        scales: {
            x: {
                grid: {
                    display: false, // Menghilangkan grid pada sumbu x
                },
                beginAtZero: true
            },
            y: {
                beginAtZero: true
            }
        }
    };

    const myChart = new Chart(ctx, {
        type: 'bar',
        data: chartData,
        options: options
    });
</script>
{% endblock javascripts %}
