{% extends "back/layouts/base.html" %}

{% block title %} Daftar Pemilih {% endblock %} 

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title ">Daftar Pemilih</h4>
                <p class="card-category">E-Voting Organisasi Inter Universitas Muhammadiyah Kalimantan Timur </p>
            </div>
            <div class="card-body">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createModal">
                    Pemilih Baru
                </button>

                <!-- Create Modal -->
                <div class="modal fade{% if create_errors %} show{% endif %}" id="createModal" tabindex="-1" aria-labelledby="createModalLabel" aria-hidden="{% if create_errors %}false{% else %}true{% endif %}">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="createModalLabel">Buat Pemilih Baru</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form method="POST" action="{% url 'createPemilih' %}" enctype="multipart/form-data" id="createForm">
                                    {% csrf_token %}
                                    <div class="mb-3">
                                        <label for="createNama" class="form-label">Nama</label>
                                        <input type="text" class="form-control" id="createNama" name="nama" value="{{ create_form.nama.value }}" required>
                                        {% if create_form.nama.errors %}
                                            <div class="text-danger">{{ create_form.nama.errors|striptags }}</div>
                                        {% endif %}
                                    </div>
                                    <div class="mb-3">
                                        <label for="createNim" class="form-label">NIM</label>
                                        <input type="text" class="form-control" id="createNim" name="nim" value="{{ create_form.nim.value }}" required>
                                        {% if create_form.nim.errors %}
                                            <div class="text-danger">{{ create_form.nim.errors|striptags }}</div>
                                        {% endif %}
                                    </div>
                                    <div class="mb-3">
                                        <label for="createProdi" class="form-label">Prodi</label>
                                        <input type="text" class="form-control" id="createProdi" name="prodi" value="{{ create_form.prodi.value }}" required>
                                        {% if create_form.prodi.errors %}
                                            <div class="text-danger">{{ create_form.prodi.errors|striptags }}</div>
                                        {% endif %}
                                    </div>
                                    <div class="mb-3">
                                    <label for="createOrgHima" class="form-label">Organisasi HIMA</label>
                                    <select class="form-control" id="createOrgHima" name="org_hima" required>
                                        <option value="HIMA A" {% if create_form.org_hima.value == "HIMA A" %}selected{% endif %}>HIMA A</option>
                                        <option value="HIMA B" {% if create_form.org_hima.value == "HIMA B" %}selected{% endif %}>HIMA B</option>
                                        <option value="HIMA C" {% if create_form.org_hima.value == "HIMA C" %}selected{% endif %}>HIMA C</option>
                                        <!-- Tambahkan pilihan HIMA sesuai kebutuhan -->
                                    </select>
                                    {% if create_form.org_hima.errors %}
                                        <div class="text-danger">{{ create_form.org_hima.errors|striptags }}</div>
                                    {% endif %}
                                </div>
                                <div class="mb-3">
                                    <label for="createOrgUkm" class="form-label">Organisasi UKM</label>
                                    <input type="text" class="form-control" id="createOrgUkm" name="org_ukm" value="{{ create_form.org_ukm.value }}" required>
                                    {% if create_form.org_ukm.errors %}
                                        <div class="text-danger">{{ create_form.org_ukm.errors|striptags }}</div>
                                    {% endif %}
                                </div>                                
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary">Save changes</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="table-responsive">
                    <table class="table">
                        <thead class="text-primary">
                            <th>ID</th>
                            <th>Nama</th>
                            <th>NIM</th>
                            <th>Prodi</th>
                            <th>Organisasi HIMA</th>
                            <th>Organisasi UKM</th>
                            <th>Action</th>
                        </thead>
                        <tbody>
                            {% for pemilih in pemilihs %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ pemilih.nama }}</td>
                                <td>{{ pemilih.nim }}</td>
                                <td>{{ pemilih.prodi }}</td>
                                <td>{{ pemilih.org_hima }}</td>
                                <td>
                                {% with pemilih.org_ukm|safe as org_ukm_json %}
                                    <script>
                                        var orgUkm = JSON.parse('{{ org_ukm_json|escapejs }}');
                                          for (var i = 0; i < orgUkm.length; i++) {
                                              document.write(orgUkm[i].value);
                                              if (i < orgUkm.length - 1) {
                                                document.write(', ');
                                              }
                                          }
                                      </script>
                                  {% endwith %}
                              </td>
                                <td>
                                   <!-- Edit Modal -->
                                      <button type="button" class="btn btn-warning js-edit" data-bs-toggle="modal" data-bs-target="#editModal{{ pemilih.id }}">Edit</button>
                                      <div class="modal fade{% if edit_errors and edit_pemilih_id == pemilih.id %} show{% endif %}" id="editModal{{ pemilih.id }}" tabindex="-1" aria-labelledby="editModalLabel{{ pemilih.id }}" aria-hidden="{% if edit_errors and edit_pemilih_id == pemilih.id %}false{% else %}true{% endif %}">
                                          <div class="modal-dialog">
                                              <div class="modal-content">
                                                  <div class="modal-header">
                                                      <h5 class="modal-title" id="editModalLabel{{ pemilih.id }}">Edit Pemilih</h5>
                                                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                  </div>
                                                  <div class="modal-body">
                                                      <form method="POST" action="{% url 'editPemilih' pemilih.id %}" enctype="multipart/form-data" id="editForm{{ pemilih.id }}">
                                                          {% csrf_token %}
                                                          <div class="mb-3">
                                                              <label for="editNama{{ pemilih.id }}" class="form-label">Nama</label>
                                                              <input type="text" class="form-control" id="editNama{{ pemilih.id }}" name="nama" value="{{ edit_form.nama.value }}" required>
                                                              {% if edit_form.nama.errors %}
                                                                  <div class="text-danger">{{ edit_form.nama.errors|striptags }}</div>
                                                              {% endif %}
                                                          </div>
                                                          <div class="mb-3">
                                                              <label for="editNim{{ pemilih.id }}" class="form-label">NIM</label>
                                                              <input type="text" class="form-control" id="editNim{{ pemilih.id }}" name="nim" value="{{ edit_form.nim.value }}" required>
                                                              {% if edit_form.nim.errors %}
                                                                  <div class="text-danger">{{ edit_form.nim.errors|striptags }}</div>
                                                              {% endif %}
                                                          </div>
                                                          <div class="mb-3">
                                                              <label for="editProdi{{ pemilih.id }}" class="form-label">Prodi</label>
                                                              <input type="text" class="form-control" id="editProdi{{ pemilih.id }}" name="prodi" value="{{ edit_form.prodi.value }}" required>
                                                              {% if edit_form.prodi.errors %}
                                                                  <div class="text-danger">{{ edit_form.prodi.errors|striptags }}</div>
                                                              {% endif %}
                                                          </div>
                                                          <div class="mb-3">
                                                              <label for="editOrgHima{{ pemilih.id }}" class="form-label">Organisasi HIMA</label>
                                                              <select class="form-control" id="editOrgHima{{ pemilih.id }}" name="org_hima" required>
                                                                  <option value="HIMA A" {% if edit_form.org_hima.value == "HIMA A" %}selected{% endif %}>HIMA A</option>
                                                                  <option value="HIMA B" {% if edit_form.org_hima.value == "HIMA B" %}selected{% endif %}>HIMA B</option>
                                                                  <option value="HIMA C" {% if edit_form.org_hima.value == "HIMA C" %}selected{% endif %}>HIMA C</option>
                                                                  <!-- Tambahkan pilihan HIMA sesuai kebutuhan -->
                                                              </select>
                                                              {% if edit_form.org_hima.errors %}
                                                                  <div class="text-danger">{{ edit_form.org_hima.errors|striptags }}</div>
                                                              {% endif %}
                                                          </div>
                                                          <div class="mb-3">
                                                            <label for="editOrgUkm{{ pemilih.id }}" class="form-label">Organisasi UKM</label>
                                                            <input type="text" class="form-control org-ukm-input" id="editOrgUkm{{ pemilih.id }}" name="org_ukm" value="{{ edit_form.org_ukm.value }}" required>
                                                            {% if edit_form.org_ukm.errors %}
                                                                <div class="text-danger">{{ edit_form.org_ukm.errors|striptags }}</div>
                                                            {% endif %}
                                                          </div>                                                        
                                                          <div class="modal-footer">
                                                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                              <button type="submit" class="btn btn-primary">Save changes</button>
                                                          </div>
                                                      </form>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                      <!-- End Edit Modal -->
                                    <!-- Delete Modal -->
                                    <button type="button" class="btn btn-danger js-delete" data-bs-toggle="modal" data-bs-target="#deleteModal{{ pemilih.id }}">Delete</button>
                                    <div class="modal fade" id="deleteModal{{ pemilih.id }}" tabindex="-1" aria-labelledby="deleteModalLabel{{ pemilih.id }}" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="deleteModalLabel{{ pemilih.id }}">Delete Item</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <p>Are you sure you want to delete "{{ pemilih.nama }}"?</p>
                                                    <form method="POST" action="{% url 'deletePemilih' pemilih.id %}">
                                                        {% csrf_token %}
                                                        <button type="submit" class="btn btn-danger">Yes, delete</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Delete Modal -->
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block javascripts %}
<script>
  $(document).ready(function() {
      // Inisialisasi Tagify
      var input = document.getElementById('createOrgUkm');
      new Tagify(input);

      // Fungsi untuk menginisialisasi Tagify setelah modal ditampilkan
      $('.modal').on('shown.bs.modal', function (e) {
          var input = $(this).find('.org-ukm-input');
          new Tagify(input.get(0));
      });

      // Membuka modal create jika ada kesalahan
      {% if create_errors %}
      var createModal = new bootstrap.Modal(document.getElementById('createModal'));
      createModal.show();
      {% endif %}

      // Membuka modal edit jika ada kesalahan
      {% if edit_errors %}
      var editModal = new bootstrap.Modal(document.getElementById('editModal{{ edit_pemilih_id }}'));
      editModal.show();
      {% endif %}
  });
</script>
{% endblock javascripts %}
