{% extends "back/layouts/base.html" %}

{% block title %}Laporan Statistik{% endblock %} 

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title">Laporan Statistik</h4>
                <p class="card-category">E-Voting Organisasi Inter Universitas Muhammadiyah Kalimantan Timur</p>
            </div>
            <div class="card-body">

                <div class="table-responsive">
                    <table class="table">
                        <thead class="text-primary">
                            <tr>
                                <th>No</th>
                                <th>Judul Pemilihan</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for pemilihan in pemilihans %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ pemilihan.judul }}</td>
                                <td>
                                    {% if pemilihan.is_election_closed == 0 %}
                                        <span class="text-success">Sedang Berlangsung</span> 
                                    {% else %}
                                        <span class="text-danger">Sudah Selesai</span>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if pemilihan.is_election_closed == 0 %}
                                        <button class="btn btn-bg-primary" onclick="showAlert()">Lihat Statistik</button>
                                    {% else %}
                                        <a href="#" type="button" class="btn btn-primary">Lihat Statistik</a>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function showAlert() {
        Swal.fire({
            icon: 'warning',
            title: 'Pemberitahuan',
            text: 'Pemilihan belum selesai!',
            confirmButtonText: 'OK'
        });
    }
</script>

{% endblock content %}
