{% extends "front/base.html" %}
{% load static %}
{% block content %}

  <!-- ***** Main Banner Area Start ***** -->
  <section id="section-1">
    <div class="content-slider">
      <input type="radio" id="banner1" class="sec-1-input" name="banner" checked>
      <input type="radio" id="banner2" class="sec-1-input" name="banner">
      <input type="radio" id="banner3" class="sec-1-input" name="banner">
      <input type="radio" id="banner4" class="sec-1-input" name="banner">
      <div class="slider">
        <div id="top-banner-1" class="banner">
          <div class="banner-inner-wrapper header-text">
            <div class="main-caption">
              <h2>SELAMAT DATANG DI WEBSITE</h2>
              <h1>E-Voting Muhammadiyah Kalimantan Timur</h1>
              <div class="border-button"><a href="{% url "voting" %}">LAKUKAN VOTING</a></div>
            </div>
            <div class="container">
              <div class="row">
                <div class="col-lg-12">
                  <div class="more-info">
                    <div class="row">
                      <div class="col-lg-4 col-sm-6 col-6">
                        <i class="fa fa-person"></i>
                        <h4><span>{{ jumlah_pemilih }} Pemilih</span><br>Sudah Terdaftar</h4>
                      </div>
                      <div class="col-lg-4 col-sm-6 col-6">
                        <i class="fa fa-calendar"></i>
                        <h4><span>{{ jumlah_pemilihan }} Pemilihan</span><br>Sudah Terlaksanakan</h4>
                      </div>
                      <div class="col-lg-4 col-sm-6 col-6">
                        <i class="fa fa-check-circle"></i>
                        <h4><span>{{ jumlah_suara }} Suara</span><br>Sudah Digunakan</h4>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="top-banner-2" class="banner">
          <div class="banner-inner-wrapper header-text">
            <div class="main-caption">
              <h2>SELAMAT DATANG DI WEBSITE</h2>
              <h1>E-Voting Muhammadiyah Kalimantar Timur</h1>
              <div class="border-button"><a href="{% url "voting" %}">LAKUKAN VOTING</a></div>
            </div>
            <div class="container">
              <div class="row">
                <div class="col-lg-12">
                  <div class="more-info">
                    <div class="row">
                      <div class="col-lg-4 col-sm-6 col-6">
                        <i class="fa fa-person"></i>
                        <h4><span>{{ jumlah_pemilih }} Pemilih</span><br>Sudah Terdaftar</h4>
                      </div>
                      <div class="col-lg-4 col-sm-6 col-6">
                        <i class="fa fa-calendar"></i>
                        <h4><span>{{ jumlah_pemilihan }} Pemilihan</span><br>Sudah Terlaksanakan</h4>
                      </div>
                      <div class="col-lg-4 col-sm-6 col-6">
                        <i class="fa fa-check-circle"></i>
                        <h4><span>{{ jumlah_suara }} Suara</span><br>Sudah Digunakan</h4>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="top-banner-3" class="banner">
          <div class="banner-inner-wrapper header-text">
            <div class="main-caption">
              <h2>SELAMAT DATANG DI WEBSITE</h2>
              <h1>E-Voting Muhammadiyah Kalimantar Timur</h1>
              <div class="border-button"><a href="{% url "voting" %}">LAKUKAN VOTING</a></div>
            </div>
            <div class="container">
              <div class="row">
                <div class="col-lg-12">
                  <div class="more-info">
                    <div class="row">
                      <div class="col-lg-4 col-sm-6 col-6">
                        <i class="fa fa-person"></i>
                        <h4><span>{{ jumlah_pemilih }} Pemilih</span><br>Sudah Terdaftar</h4>
                      </div>
                      <div class="col-lg-4 col-sm-6 col-6">
                        <i class="fa fa-calendar"></i>
                        <h4><span>{{ jumlah_pemilihan }} Pemilihan</span><br>Sudah Terlaksanakan</h4>
                      </div>
                      <div class="col-lg-4 col-sm-6 col-6">
                        <i class="fa fa-check-circle"></i>
                        <h4><span>{{ jumlah_suara }} Suara</span><br>Sudah Digunakan</h4>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="top-banner-4" class="banner">
          <div class="banner-inner-wrapper header-text">
            <div class="main-caption text-black">
              <h2>SELAMAT DATANG DI WEBSITE</h2>
              <h1>E-Voting Muhammadiyah Kalimantar Timur</h1>
              <div class="border-button"><a href="{% url "voting" %}">LAKUKAN VOTING</a></div>
            </div>
            <div class="container">
              <div class="row">
                <div class="col-lg-12">
                  <div class="more-info">
                    <div class="row">
                      <div class="col-lg-4 col-sm-6 col-6">
                        <i class="fa fa-person"></i>
                        <h4><span>{{ jumlah_pemilih }} Pemilih</span><br>Sudah Terdaftar</h4>
                      </div>
                      <div class="col-lg-4 col-sm-6 col-6">
                        <i class="fa fa-calendar"></i>
                        <h4><span>{{ jumlah_pemilihan }} Pemilihan</span><br>Sudah Terlaksanakan</h4>
                      </div>
                      <div class="col-lg-4 col-sm-6 col-6">
                        <i class="fa fa-check-circle"></i>
                        <h4><span>{{ jumlah_suara }} Suara</span><br>Sudah Digunakan</h4>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <nav>
        <div class="controls">
          <label for="banner1"><span class="progressbar"><span class="progressbar-fill"></span></span><span class="text">1</span></label>
          <label for="banner2"><span class="progressbar"><span class="progressbar-fill"></span></span><span class="text">2</span></label>
          <label for="banner3"><span class="progressbar"><span class="progressbar-fill"></span></span><span class="text">3</span></label>
          <label for="banner4"><span class="progressbar"><span class="progressbar-fill"></span></span><span class="text">4</span></label>
        </div>
      </nav>
    </div>
  </section>
{% endblock content %}
