{% extends "front/base.html" %}
{% load static %}

{% block content %}
  <section id="section-1" class="mt-5">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-10 content-section">
          <div class="section-heading text-center">
            <br>
            <h2>Statistik Pemilihan: {{ pemilihan.judul }}</h2>
          </div>
          <div class="chart-container text-center">
            <img src="data:image/png;base64,{{ image_base64 }}" alt="Statistik Pemilihan">
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
