{% extends "front/base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="alert alert-warning mt-5 text-center">
                <h4 class="alert-heading">Maaf</h4>
                <p>Suara Anda sudah digunakan.</p>
                <hr>
                <p class="mb-0">Terima kasih telah berpartisipasi dalam pemilihan.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
